@import "tailwindcss";

@layer base {

    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }
}

@utility scrollbar-hidden {
    /* Firefox */
    scrollbar-width: none;

    /* IE and Edge */
    -ms-overflow-style: none;

    /* Chrome, Safari, and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
}

@theme {
    --color-sky-top: #6f86d6;
    --color-sky-middle: #5ca6e3;
    --color-sky-bottom: #48c6ef;
    --color-ink: #0d1530;
}